body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/freshtomatoes-aedbb.appspot.com/o/andrea-boldizsar-228-unsplash.jpg?alt=media&token=7a9af55d-371f-44db-a09e-ac7384c788d9 https://firebasestorage.googleapis.com/v0/b/freshtomatoes-aedbb.appspot.com/o/andrea-boldizsar-228-unsplash.jpg?alt=media&token=7a9af55d-371f-44db-a09e-ac7384c788d9");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    background-size: cover;
    background-repeat: no-repeat;
}

.container.body-content h1, h2, h3, h4, h5, label {
    color: white !important;
}

#home_tag  {
    text-align: center;
    margin: .5em auto;
    text-shadow: 5px 5px 2px black;
}

#map {
    height: 55vh;
    margin: 2em auto;
    box-shadow: 0 0 1em 1em black;
    border-radius: 15px;
    overflow-y: scroll;
}

#markersCreate {
    display: flex;
    justify-content: space-between;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.commentsDiv {
    margin-bottom: 2em;
}

.commentsDiv p {
    margin: 0 0;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

#input_div {
    display: flex;
    justify-content: space-between;
}

#address {
    width: 60%;
    height: 2em;
    font-size: 1.5em;
    border-radius: 15px;
    box-shadow: 0 0 1em 1em black;
    outline: none;
}

#submit {
    width: 20%;
    height: 2em;
    font-size: 1.5em;
    border-radius: 15px;
    box-shadow: 0 0 1em 1em black;
    outline: none;
    background-color: white;
    color: black;
}

.infoWindowContainer {
    padding-bottom: 2em;
    color: black !important;
    padding: 1em;
    height: 80vh;
    overflow-y: scroll;
}

.disclaimer {
    margin-bottom: 0;
}
.infoWindowContainer h5, p {
    color: black !important;
}

.infoWindowPicDiv img {
    width: 20em;
    height: auto;
    margin: 1em auto;
}

.comment {
    background-color:aliceblue;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .infoWindowContainer {
        height: 100vh;
        width: 200px;
    }
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
