@{
    ViewData["Title"] = "Home Page";
}
<h1> Welcome to HulduNashville</h1>
<h2>Type Your Address in Below and See How Paranormal Your Corner of Nashville Is</h2>
<div id="map"></div>
<input id="address" placeholder="Enter Your Address"/>
<button id="submit">Submit</button>
<script>
    function initMap() {
        const Nashville = { lat: 36.1089409, lng: -86.8468632 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: Nashville
        });

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjC9iCmI7i2do5GFSUYDnmiyqAShhyj4Y&callback=initMap">
</script>
