@{
    ViewData["Title"] = "Home Page";
}
<h3 id="home_tag">Enter A Nashville Address To Get Nearby Paranormal Reports</h3>

<div id="map"></div>
<div class="row" id="input_div">
    <input id="address" class="col-md-8" placeholder="Enter Your Address" autofocus />
    <button id="submit" class="col-md-4">Submit</button>
</div>
<script>
    function initMap() {
        const Nashville = { lat: 36.1089409, lng: -86.8468632 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: Nashville
        });

    }
</script>
<script src="~/js/favorites.js" asp-append-version="true"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjC9iCmI7i2do5GFSUYDnmiyqAShhyj4Y&libraries=geometry&callback=initMap">
</script>
