@model HulduNashville.Models.Marker

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Marker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CitationId" class="control-label"></label>
                <select asp-for="CitationId" class="form-control" asp-items="ViewBag.CitationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageId" class="control-label"></label>
                <select asp-for="ImageId" class="form-control" asp-items="ViewBag.ImageId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="HiddenCreate" asp-controller="Categories">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Category" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="HiddenCreate" asp-controller="Citations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Citation.Source" class="control-label"></label>
                <input asp-for="Citation.Source" class="form-control" />
                <span asp-validation-for="Citation.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Citation" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="HiddenCreate" asp-controller="Images">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image.ImageName" class="control-label"></label>
                <input asp-for="Image.ImageName" class="form-control" />
                <span asp-validation-for="Image.ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.ImageURL" class="control-label"></label>
                <input asp-for="Image.ImageURL" class="form-control" />
                <span asp-validation-for="Image.ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add a new image path" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
