@model HulduNashville.Models.ManageViewModels.AssignRoleViewModel

@{
    ViewData["Title"] = "Title";
}
<div class="row">
    <form asp-controller="UserRoles" asp-action="AssignRole">
        <div class="form-group">
            <select asp-for="UserId" asp-items="@Model.Users"></select>
        </div>
        <div class="form-group">
            <select asp-for="RoleId" asp-items="@new SelectList(Model.Roles)"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Role" class="btn btn-default" />
        </div>

    </form>
</div>